#cmap_select_btn {
    background-color: initial;
    color: initial;
    /* Use the same styles as the native `select` element */
    border: 1px solid var(--border);
    padding-left: 0.5rem;
    padding-right: 0.7rem;
}

#cmap_select_btn::after {
    display: inline-block;
    margin-left: 1.5em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

#cmap_select_btn:hover {
    filter: none
}

#cmap_select {
    position: absolute;
    width: 221px;
    height: 300px;
    background-color: var(--bg);
    overflow-y: scroll;
    border-radius: 5px;
    filter: var(--drop-shadow);
    z-index: 1;
    display: flex;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.scroll-indicator {
    position: sticky;
    top: 100px;
    display: flex;
    flex-direction: column;
    margin-left: 9px;
    /* Any number would do, seems like as long as height is set, it would prevent
     * the items from moving up when the dropdown is scrolled to the bottom */
    height: 50px;
}

.scroll-btn {
    padding: 0.1rem 0.3rem;
    background-color: var(--scroll-btn-color);
    color: var(--text);
    margin: 0.2rem 0;
    font-size: 0.9rem;
}

/* simple.css brightens the button on hover, which is fine for dark theme but
 * we want to darken it on light theme */
@media (prefers-color-scheme: light) {
    /* `enabled` is needed to win the specificity battle against simple.css */
    .scroll-btn:enabled:hover {
        filter: brightness(85%)
    }
}

.reverse-cmap-container {
    margin: 10px;
    margin-bottom: -10px;
}

.cmap_item {
    cursor: pointer;
    margin: 10px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.cmap_item:hover {
    background-color: var(--hover-item-color)
}

.cmap_item_color {
    width: 150px;
    height: 30px;
    margin-top: 10px
}

.cmap_item_discrete_color {
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.cmap-label {
    margin-left: 10px;
    margin-bottom: -5px;
}

.blended-line {
    width: 150px;
    height: 3px;
}

