.pointer-cursor {
    cursor: pointer
}

.explainer {
    padding-left: 35px;
    margin-top: 0;
    line-height: 1.2;
    color: gray;
}

@keyframes pulse {
    0% {
        background-color: var(--accent)
    }
    100% {
        background-color: #de0f35
    }
}

.pulsing-color {
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
