.details-with-info {
    padding-left: 0;
    margin-top: 2px; 
    margin-bottom: 2px; 
}

.details-with-info > summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height of the details with number input; make all others the same */
    height: 47px;
}

.details-with-info[open] > summary {
    margin-bottom: 0
}

.details-section {
    margin: 30px -20px;
    padding: 20px;
    padding-left: 22px;
}

.details-section > summary {
    list-style-type: '';
    padding-top: 0;
    margin-bottom: 5px
}

.explainer-container {
    display: block;
    width: 400px;
}

.explainer {
    padding-left: 18px;
    margin: 0;
    line-height: 1.2;
    color: gray;
}

