@use '../../constants';

/* Remove margin added by simple.css */
select {
    margin-bottom: 0
}

#run-btn {
    /* Make the run button right aligned */
    margin-left: auto;
    filter: var(--drop-shadow);
    background-color: var(--run-btn-color);
    /* Always light bg color even for dark themes */
    color: #fafafa;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    border-radius: 16px;
    z-index: 2;
    pointer-events: auto;
}

/* Ensure run button has 100% opacity even if disabled */
#run-btn[disabled] {
    opacity: 1;
    background-color: var(--run-btn-color-disabled);
}

/* For tablet sizes and above */
@media (min-width: constants.$desktop-width) {
    input[type=number] {
        /* Fix the width of the number input
         * (otherwise it will fill its container) */
        width: 100px;
        margin-left: auto
    }
}
