/* Remove margin added by simple.css */
select {
    margin-bottom: 0
}

.btn-group {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-bottom: 3px;
}

.btn-group input {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}

.btn-group label {
    cursor: pointer;
    border: 1px solid black;
    text-align: center;
    margin: 3px;
    padding: 5px;
    border-radius: 9px;
    border-color: var(--accent);
    color: var(--accent);
}

.btn-group input:checked + label {
    background-color: var(--accent);
    color: var(--bg);
}

#run-btn {
    /* Make the run button right aligned */
    margin-left: auto;
    filter: var(--drop-shadow);
    background-color: var(--run-btn-color);
    /* Always light bg color even for dark themes */
    color: #fafafa;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    border-radius: 16px;
    z-index: 2;
    pointer-events: auto;
    font-size: 1.15rem;
}

/* Ensure run button has 100% opacity even if disabled */
#run-btn[disabled] {
    opacity: 1;
    background-color: var(--run-btn-color-disabled);
}

