.btn-group {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-bottom: 7px;
}

.btn-group input {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}

.btn-group label {
    cursor: pointer;
    border: 2px solid #edf2f9;
    text-align: center;
    margin: 3px;
    padding: 5px;
    border-radius: 9px;
    color: var(--text);
    /* i plan to deepen the body's gray later,
     * so this will create a larger contrast */
    background-color: #fff;
}

/* bolding without changing container size - https://stackoverflow.com/a/46452396 */
.btn-group input:checked + label {
    --bold: 0.9;
    background-color: #cde1ff;
    color: #0045b3;
    border: 2px solid #467dd5;
    -webkit-text-stroke-width: calc(var(--bold) * 0.08ex);
}

