.rounds-slider {
  width: 80%
}

.rounds-chart {
  height: 80vh;
  width: 90vw;
  overflow: scroll;
}

.rounds-diff-chart {
  height: 40vh;
  overflow: scroll;
}

#open-diff-btn {
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
  /* hidden for first round */
  display: none;
}

#diff-ui-container {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  z-index: 9;

  max-width: 500px;
  padding: 10px;
  background-color: white;
}

#close-diff-btn {
  /* background-color: #faa700; */
  /* color: #212121; */
  border: none;
  cursor: pointer;
  width: 50%;
  margin-bottom:10px;
}

