#round-container {
    position: sticky;
    top: 0;
    /* apparently the variable --bg isn't the body's bg color?? */
    background-color: #f5f7fa;
}

#round-container h3 {
    margin-top: 0;
    padding-top: 2rem;
    margin-bottom: 10px;
}

.rounds-slider {
  width: 80%
}

#open-diff-btn {
  position: fixed;
  bottom: 6px;
  right: 28px;
  width: 130px;
}

#diff-ui-container {
  display: none;
  position: fixed;
  bottom: 76px;
  right: 15px;
  z-index: 9;

  min-width: 470px;
  padding: 10px;
  background-color: white;
  max-height: calc(95vh - 87px);
  min-height: 225px;
  overflow: scroll;
}

#resize-btn {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  border-radius: 0;
  cursor: nwse-resize;
  padding: 0;
  padding-left: 16px;
  padding-bottom: 16px;
  background-color: #9c9c9c;
  border-bottom-right-radius: 10px;
}

