body {
    /* simple.css makes the body a grid display; revert this */
    display: initial
}

h1 {
    /* Reduce the max width of the header to avoid touching the Github corner */
    max-width: 80%;
}

/* Revert simple.css rules */
details {
    padding-right: 0;
    padding-left: 0;
}

/* Remove margin added by simple.css */
select {
    margin-bottom: 0
}

