.secondary-button {
    background: none;
    border: 1.5px solid var(--accent);
    color: var(--accent);
}

.tertiary-button {
    background: none;
    color: var(--text);
}

.tertiary-button:hover {
    text-decoration: underline;
    color: var(--accent);
}

.tertiary-button:hover .icon {
    background: var(--accent)
}

.delete-button:hover {
    text-decoration: underline;
    color: #da0909;
}

