#config {
    margin-right: 20px;
    /* Half margin as chart will also have margin-left */
    margin-left: 10px;

    /* So that you can scroll a bit lower */
    margin-bottom: 50px;
}

/* Center align interactive elements in the tables
 * (color picker is already center aligned) */
#party-table td:first-child,      /* colorized checkbox */
#party-table td:nth-child(7),     /* coalition dropdown */
#party-table td:nth-child(8),     /* add party button and delete button */
#coalition-table td:nth-child(3) { /* add coalition button */
    text-align: center
}

#voronoi-checkbox {
    display: flex;
    justify-content: center;
}

.m-r-5 {
    margin-right: 5px
}

/* Forces the paragraph element to have the "normal" height even if it has no text
 * Eliminates the vertical shift when the plot is hovered for the first time,
 * as this is when the seats column gets populated
 * https://stackoverflow.com/questions/72447527/how-to-set-an-empty-paragraph-element-to-the-minimum-height-of-the-font-size-te */
p::after {
  content: '\00a0'
}

/* Force the legend and coalition to have proper separation; otherwise it would
 * have 0 spacing between them */
#legend-table, #coalition-table {
    width: initial
}

#legend-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explainer {
    padding-left: 35px;
    margin-top: 0;
    line-height: 1.2;
    color: gray;
}

#color-wheel {
    z-index: 0
}

#color-wheel-seats {
    z-index: 1
}

#color-wheel-hover {
    z-index: 2
}

#color-wheel-party {
    z-index: 3
}

@keyframes pulse {
    0% {
        background-color: var(--accent)
    }
    100% {
        background-color: #de0f35
    }
}

.pulsing-color {
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
