.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: black;
  mask-size: cover;
}

.icon-import {
    mask: url(icons/upload-2-line.svg)
}

.icon-export {
    mask: url(icons/download-2-line.svg)
}

.icon-del {
    mask: url(icons/delete-bin-line.svg)
}

.icon-screenshot {
    mask: url(icons/screenshot-2-line.svg)
}

