/* Align an element to the center externally and internally */
.center-align {
    margin-left: auto;
    margin-right: auto;
    text-align: center
}

.space-around {
    display: flex;
    justify-content: space-around;
}

.space-between-always {
    display: flex;
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

/* Container for two canvas elements */
.position-absolute {
    /* Overlay the two canvas elements on top of each other */
    position: absolute
}

.p-rel {
    position: relative
}
