/* Turn cursor into help cursor when element is hovered */
.help-cursor {
    cursor: help
}

.not-allowed-cursor {
    cursor: not-allowed
}

/* Forces all child elements to have discouraged-color */
.discouraged-color * {
    color: var(--discouraged-color);
}

.display-none {
    display: none;
}

.w-100p {
    width: 100%;
}

/* Dynamically applied in TS */
.wh-200 {
    width: 200px;
    height: 200px;
}

.w-400 {
    width: 400px;
}

.m-b-0 {
    margin-bottom: 0
}

.m-r-5 {
    margin-right: 5px
}

.m-t-22 {
    margin-top: 22px
}

.m-0 {
    margin: 0;
}

.p-l-0 {
    padding-left: 0
}

.p-b-0 {
    padding-bottom: 0
}

.w-100 {
    width: 100%
}

.bottom-10 {
    bottom: 10px;
}

.passthrough-sticky {
    position: sticky;
    z-index: 2;
    pointer-events: none;
}

.no-bold {
    font-weight: normal
}

.overflow-x-hidden {
    overflow-x: hidden
}

.dotted-underline {
    text-decoration: underline dotted;
}

