:root {
    --canvas-border-color: black;
    --accent-color: #b0ddb0;
    --hover-item-color: #f2f2f2;
    /* The canvas size is > 400px and < 800px. Between those two it
     * resizes itself to be 38% of the screen width. A media query
     * width depends on this, and must be updated if this changes */
    --canvas-size: min(max(38vw, 400px), 800px);
    --drop-shadow: drop-shadow(2px 2px 4px #0000007f);
    --run-btn-color: #40b8e6;
    --scroll-btn-color: #e9e9e9;
    --discouraged-color: lightgray;
}

@media (prefers-color-scheme: light) {
    :root {
        /* Make light background color less bright */
        --bg: #fafafa;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --canvas-border-color: white;
        --accent-color: #499549;
        --hover-item-color: #3b3b3b;
        --scroll-btn-color: #4c4c4c
    }
}
