:root {
    --canvas-border-color: black;
    --hover-highlight-color: #b0ddb0;
    --hover-item-color: #f2f2f2;
    /* The canvas size is > 400px and < 800px. Between those two it
     * resizes itself to be 38% of the screen width. A media query
     * width depends on this, and must be updated if this changes */
    --canvas-size: min(max(38vw, 400px), 800px);
    --drop-shadow: drop-shadow(2px 2px 5px #0000007f);
    --run-btn-color: #40b8e6;
}

@media (prefers-color-scheme: light) {
    :root {
        /* Make light background color less bright */
        --bg: #fafafa;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --canvas-border-color: white;
        --hover-highlight-color: #499549;
        --hover-item-color: #3b3b3b;
    }
}
