/* Container for #chart and the empty-img */
#chart-container {
    margin-left: 20px;
    /* Half margin as config will also have margin-left */
    margin-right: 10px;
}

@media (min-width: 1104px) {
    #chart {
        /* Make the chart (with the two canvases overlaid) sticky on scroll */
        position: sticky;
        top: 20px;
    }
}

