#floating {
  position: absolute;
  background: #fff;
  z-index: 4;
  filter: var(--shadow-popup);
  padding: 0.5rem;
  width: max-content;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.62);
  backdrop-filter: blur(8px);
}

#arrow {
  position: absolute;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  background-color: rgba(255, 255, 255, 0.62);
  backdrop-filter: blur(8px);
}

/* Styles for the party color picker */
input[type=color] {
    height: 2.5rem;
    width: 2.5rem;
    /* ideally for chromium only, the padding shouldd be 0.1rem not 0.2rem */
}

/* Styles for the x and y coordinate inputs
 * This increases specificity to override other input stylings */
input[type=number].subtle-input {
    width: 80px;
    border: none;
    background-color: #00000000;
}

