#coalition-table {
    height: fit-content;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* remove simple.css alternating row color */
#coalition-table tr:nth-child(2n) {
    background-color: var(--bg)
}

#coalition-table td:nth-child(2) {
    width: 100%;
}

/* Needed to make party-dot-area fill its td container */
#coalition-table tr, #coalition-table td:nth-child(2) {
    height: 100%
}

.party-dot {
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

.party-dot-area {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    max-width: 100px;
}

.colorize-by {
    border: 2px solid red;
}
