.party-table-btn-td {
    flex-direction: column
}

#voronoi-checkbox {
    display: flex;
    justify-content: center;
}

/* Styles for the party color picker */
input[type=color] {
    height: 2.5rem;
    width: 2.5rem;
    /* ideally for chromium only, the padding shouldd be 0.1rem not 0.2rem */
}

/* Styles for the x and y coordinate inputs
 * This increases specificity to override other input stylings */
input[type=number].subtle-input {
    width: 80px;
    border: none;
    background-color: #00000000;
}

/* Forces the paragraph element to have the "normal" height even if it has no text
 * Eliminates the vertical shift when the plot is hovered for the first time,
 * as this is when the seats column gets populated
 * https://stackoverflow.com/questions/72447527/how-to-set-an-empty-paragraph-element-to-the-minimum-height-of-the-font-size-te */
#party-table p::after {
  content: '\00a0'
}

