table {
    margin-top: 0;
}

th {
    background-color: var(--bg);
}

th, td {
    border: none;
}

/* Center align interactive elements in the tables
 * All columns except for seats */
#coalition-table td:first-child,
#coalition-table td:nth-child(3) {
    text-align: center
}

/* Force the legend and coalition to have proper separation; otherwise it would
 * have 0 spacing between them */
#legend-table, #coalition-table {
    width: initial
}

