.bar-chart {
    /* wide enough for coalition seats to be on a single line and not wrapped */
    width: 182px;
    height: fit-content;
    padding: 1rem;
}

.bar-chart td {
    border: none;
    padding-top: 0;
    padding-bottom: 0;
}

.bar-chart td:nth-child(2) {
    width: 100%
}

/* Remove alternating row colors from simple.css */
.bar-chart tr {
    background-color: var(--bg)
}
