#party-bar-chart {
    background-color: var(--bg);
    /* max possible width of the chart when there are bars at 100% */
    width: 174px;
    height: fit-content;
    filter: var(--drop-shadow);
    padding: 1rem;
}

#party-bar-chart td {
    border: none;
    padding-top: 0;
    padding-bottom: 0;
}

/* Remove alternating row colors from simple.css */
#party-bar-chart tr {
    background-color: var(--bg)
}
