#legend-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#legend-table {
    max-height: 90vh;
    overflow-y: scroll;
}

#legend-table th, #legend-table td {
    border: none;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

#legend-table tr:last-child td {
    padding-bottom: 0.5rem;
}

#legend-table tr:first-child td {
    padding-top: 0.5rem;
}

#color-wheel-container canvas {
    border: none
}

#color-wheel {
    z-index: 0
}

#color-wheel-seats {
    z-index: 1
}

#color-wheel-hover {
    z-index: 2
}

#color-wheel-party {
    z-index: 3
}
