.sparkline-label {
    position: relative;
    z-index: 1
}

.sparkline {
    --height: 30px;
    height: var(--height);
    position: absolute;
    background-color: var(--hover-highlight-color);
    left: 5px;
    /* Vertically center it */
    top: 50%;
    margin-top: calc(var(--height) / 2 * -1);
}

