input[type=color] {
    height: 2.5rem;
    width: 2.5rem;
    /* ideally for chromium only, the padding shouldd be 0.1rem not 0.2rem */
}

.m-r-5 {
    margin-right: 5px
}

.no-bold {
    font-weight: normal
}

#voronoi-checkbox {
    display: flex;
    justify-content: center;
}

/* Center align interactive elements in the tables
 * All columns except for seats */
#party-table td:not(:nth-child(5)),
#party-table th:not(:nth-child(5)),
#coalition-table td:first-child,
#coalition-table td:nth-child(3) {
    text-align: center
}

/* Forces the paragraph element to have the "normal" height even if it has no text
 * Eliminates the vertical shift when the plot is hovered for the first time,
 * as this is when the seats column gets populated
 * https://stackoverflow.com/questions/72447527/how-to-set-an-empty-paragraph-element-to-the-minimum-height-of-the-font-size-te */
p::after {
  content: '\00a0'
}

/* Force the legend and coalition to have proper separation; otherwise it would
 * have 0 spacing between them */
#legend-table, #coalition-table {
    width: initial
}

/* This increases specificity to override other input stylings */
input[type=number].subtle-input {
    width: 80px;
    border: none;
    background-color: #00000000;
}

