.display-none {
    display: none;
}

/* Align an element to the center externally and internally */
.center-align {
    margin-left: auto;
    margin-right: auto;
    text-align: center
}

.space-around {
    display: flex;
    justify-content: space-around;
}

.space-evenly {
    display: flex;
    justify-content: space-evenly;
}

.space-between-always {
    display: flex;
    justify-content: space-between;
}

.flex-col {
    display: flex;
    flex-direction: column
}

.align-items-center {
    align-items: center
}

.flex-wrap {
    flex-wrap: wrap;
}

/* Container for two canvas elements */
.position-absolute {
    /* Overlay the two canvas elements on top of each other */
    position: absolute
}

.bottom-10 {
    bottom: 10px;
}

