.m-0 {
    margin: 0
}

.m-b-0 {
    margin-bottom: 0
}

.m-b-30 {
    margin-bottom: 30px
}

.m-r-5 {
    margin-right: 5px
}

.m-t-22 {
    margin-top: 22px
}

.m-t-n25 {
    margin-top: -25px
}

.p-r-1 {
    padding-right: 1px;
}

.p-b-0 {
    padding-bottom: 0
}


