.m-b-10 {
    margin-bottom: 10px
}

.m-b-30 {
    margin-bottom: 30px
}

.m-t-10 {
    margin-top: 10px
}

.m-t-n25 {
    margin-top: -25px
}

.p-b-0 {
    padding-bottom: 0
}

.m-r-60 {
    margin-right: 60px
}

