/* Forces all child elements to have discouraged-color */
.discouraged-color * {
    color: var(--discouraged-color);
}

.passthrough-sticky {
    position: sticky;
    z-index: 2;
    pointer-events: none;
}

.no-bold {
    font-weight: normal
}

.overflow-x-hidden {
    overflow-x: hidden
}

.dotted-underline {
    text-decoration: underline dotted;
}

.t-a-c {
    text-align: center;
}

.small-caps {
    font-variant: small-caps
}

.drop-shadow {
    filter: var(--drop-shadow)
}

