/* Forces all child elements to have discouraged-color */
.discouraged-color * {
    color: var(--discouraged-color);
}

.passthrough-sticky {
    position: sticky;
    z-index: 2;
    pointer-events: none;
}

.overflow-x-hidden {
    overflow-x: hidden
}

.t-a-c {
    text-align: center;
}

.dotted-underline {
    text-decoration: underline dotted;
}

.drop-shadow {
    filter: var(--drop-shadow)
}

.paragraph {
    max-width: 700px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
}