body {
    display: unset
}

h1 {
    text-align: center
}

#container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

canvas {
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

table th:first-child {
    padding-right: 10px
}

/*simple css handles the mobile styles already, these are desktop only*/
@media only screen and (min-width: 720px) {
    .space-between-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    input[type=number] {
        width: 100px;
        margin-left: auto
    }
}

#run-btn {
    margin-left: auto;
}

table td:nth-child(6n+1) {
    text-align: center
}

